
@import url('https://fonts.googleapis.com/css2? familia= Poppins:ital,peso@0,400;0,500;1,500 & display=swap');
@import "colores";
@import "fuentes";
/*corrección: incluir algunos conceptos de sass*/
$estilos: (color: black, centro: center, ninguno: none);
@mixin negrita {
    font-weight: bold;
}
section {
    background-color: $colorprimario;
    font-family: $fuenteprincipal;
}
footer{
   background-color: $colorsecundario;
   font-family: $fuenteprincipal;
   color: $colorfuente;
   width: 100%;
   padding-bottom: 3px;
   
}
nav {
    background-color: $colorsecundario;
    font-family: $fuenteprincipal;
    font-size: 16px;
}
.headering {
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
}
body {
    width: 100%;
    background-color: $colorprimario; 
}
/*correccion scroll horizontal*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.container-fluid{
    margin-left: 0px;
    }
/*TARJETA DOMICILIOS*/
.card-img-top-domicilios {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*COLOR DE FUENTE DEL NAV*/
.container-fluid  nav ul li a {
    text-decoration: map-get($estilos, ninguno);
    color: $colorfuente;
    }
/*iconos del footer*/ 
ion-icon {
    color: $colorfuente;
    width: 4rem;
    height: 4rem
}
ion-icon:hover {
    color: map-get($estilos, color);
}
/*TARJETAS MENU Y DOMICILIOS*/
.card-text {
    font-family: $fuenteprincipal;
    font-size: 20px;
    @include negrita;
    color: $colorprimario;
}
.card-text:hover {
    text-decoration: map-get($estilos, ninguno);
    color: map-get($estilos, color);
}
.nav-link:hover{
    text-decoration: map-get($estilos, ninguno);
    color:  map-get($estilos, color);
    @include negrita;
}
/*QUITAR EL HOVER PREDETERMINADO DE BOOSTRAP*/
ul {
    text-decoration: map-get($estilos, ninguno);
    list-style-type: none;
    text-align: map-get($estilos, centro);
}
h1 {
    text-align: map-get($estilos, centro);
    font-family: $fuenteprincipal;
    color: $colorfuente;
}
h4 {
    color: $colorfuente;
    text-align: map-get($estilos, centro);
    font-family: $fuenteprincipal;
    font-size: 14px;
}
.parraindex {
    color: $colorfuente;
    font-style: italic;
    font-family: $fuenteprincipal;
    text-align: justify;
    font-size: 16px;
}
.card-text-nosotros {
    text-align: justify;
    font-size: 14px;
    color: $colorprimario;

}
.card-body {
    text-align: map-get($estilos, centro);
}
.menufoot {
    font-size: 16px;
    text-align: map-get($estilos, centro);
    font-weight: bold;
}
.contacto {
    border: solid 3px;
    padding-bottom: 5px;
    width: 95%;
}
.form-label-correo {
  padding: 5px;
}
h3 {
    color: $colorfuente;
    text-align: map-get($estilos, centro);
    font-family:$fuenteprincipal;
}
a {
    text-decoration: map-get($estilos, ninguno);
}
@media (max-width: 576px) {
    .imagenind1 {
        width: 20rem;
    }
    .imagenind2 {
        width: 5rem;
    }
}
    /*corrección de la profe: hacer mas anchas las card pag nosotros*/
    .cardnosotros {
        width: 25rem;
    }
    /*centrado de texto del footer*/
    footer {
       padding-right: 10px
    }
@media (max-width: 766px) {
    .imagenind1 {
        width: 35rem;
    }
    .imagenind2 {
        width: 33rem;
    }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}
/*ICONO DE WHATSAPP*/
.whatsapp {
    position: fixed;
    right: 20px;
    bottom: 15px;
    z-index: 1;
    color:  map-get($estilos, color);
    background-color: #25D366;
    border-radius: 10px;
    height: 65px;
}